<div class="card" [ngClass]="cardClass" [@cardRemove]="cardRemove" #toAnimate>
  @if (!hidHeader) {
    <div class="card-header" [ngClass]="headerClass">
      @if (!customHeader) {
        <h5 [innerHtml]="cardTitle"></h5>
      }
      <!-- @if (this.options && !customHeader) {
        <div class="card-header-right">
          <div class="btn-group card-option dropdown" ngbDropdown>
            <button type="button" class="btn dropdown-toggle btn-icon" ngbDropdownToggle>
              <i class="feather icon-more-horizontal"></i>
            </button>
            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right" ngbDropdownMenu>
              <li
                class="dropdown-item full-card"
                (click)="fullCardToggle(toAnimate, '', true)"
                role="none"
                (keypress)="fullCardToggle(toAnimate, '', true)"
              >
                <a href="javascript:">
                  <span>
                    <i class="feather" [ngClass]="fullIcon"></i>
                    {{ this.cardClass === 'full-card' ? 'Restore' : 'Maximize' }}
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      } -->
      @if (customHeader) {
        <ng-content select=".app-card-header"></ng-content>
      }
    </div>
  }
  <div [@collapsedCard]="collapsedCard">
    <div class="card-block" [ngClass]="blockClass">
      <ng-content></ng-content>
    </div>
  </div>
  @if (loadCard) {
    <div class="card-loader">
      <i class="pct-loader1 anim-rotate"></i>
    </div>
  }
</div>
