<ul class="navbar-nav">
  <li class="nav-item"><h5>PJM Software Solutions</h5></li>
  <!-- <li appToggleFullScreen>
    <a href="javascript:" class="full-screen"><i class="feather icon-maximize"></i></a>
  </li> -->
  <!-- <li class="nav-item dropdown" ngbDropdown placement="auto">
    <a href="javascript:" data-toggle="dropdown" ngbDropdownToggle>Store Branches</a>
    <ul class="dropdown-menu" ngbDropdownMenu>
      <li><a class="dropdown-item" href="javascript:">Angeles City</a></li>
      <li><a class="dropdown-item" href="javascript:">City of San Fernando</a></li>
      <li>
        <a class="dropdown-item" href="javascript:">Baguio City</a>
      </li>
    </ul>
  </li> -->
  <!-- <li class="nav-item">
    <app-nav-search></app-nav-search>
  </li> -->
</ul>
